.menuSection {
  display: inline-flex;
  padding-top: 1vh;
  padding-bottom: 1vh;
  align-items: stretch;
  width: 100%;
  border-style: groove;
  border-color: black;
  padding-left: 10px;
  padding-right:10px;
}
p {
  margin: auto;
  vertical-align: middle;
}
.gameContainer{
  width:400px;
  margin: auto;
}
#container {
  width:400px;
  height: 280px;
  overflow: hidden;
  border-style: solid;
}
.box {
  display: inline-block;
  border: 0.1px solid black;
  width: 40px;
  height: 40px;
}
.hero {
  background-color: lightsalmon;
  border-radius: 6px;
  border-width: 1px;
}
.enemy {
  background-color: red;
  border-radius: 7px;
  border-width: 1px;
}
.weapon {
  background-color: blue;
  border-width: 4px;
  border-color: white;
}
.xp {
  background-color: yellow;
  border-radius: 10px;
  border-width: .5px;
}
.health {
  background-color: green;
  border-width: 4px;
  border-color: white;
  border-radius: 10px;
}
.portal {
  background-color: blueviolet;
}
.wall {
  background-color: darkslategray;
}
.floor {
  background-color: white;
}
.darkness {
  background-color: black;
}
.box:hover {
  background-color: yellow;
}
.center {
  margin: auto;
  display: table;
}
.grid {
  line-height: 0;
  margin: auto;
}